<!-- home.html -->

{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load staticfiles %}
{% block title %}Welcome to SUPERCOACH URL Shortner{% endblock %}
{% block head %}<link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />{% endblock %}
{% block content %}


<section class="cta">
    <h2> Welcome {{ user.username }} ! </h2>
    <div class="cta-content">
        <div class="container">
        <div align = "center">
                    {% render_table data %}
                   <form method="post" action=".">
                    
                   
                    
                    



                    <button type="submit" value="URLShortner" class="btn btn-outline btn-xl page-scroll" style="background-color: transparent;">URL Shortner</button>
                    <a><button type="button" class="btn btn-outline btn-xl page-scroll" style="background-color: transparent;" onclick="window.location.href='/logout/' ">Logout</button></a>
            
                </div>
            </form>



        </div>
</section>

{% endblock %}


