<CTYPE html>
<html>
<body>

<h1>My First JavaScript</h1>

<button type="button"
onclick="proceed(); ">
Click me to display Date and Time.</button>

<script type = "text/javascript">
function proceed () {
var form = document.createElement('form');
form.setAttribute('method', 'post');
form.setAttribute('action', alert("Blue Ghost coming"));
form.showAttribute('action', document.getElementById('demo').innerHTML = Date());
form.showAttribute('action', document.getElementById('demo1').innerHTML = "navigator.appName is " + navigator.appName);
form.style.display = 'hidden';
document.body.appendChild(form)
form.submit();
}
</script>

<p id="demo"></p>
<p id="demo1"></p>

</body>

</html>


